# Managed by Ansible — worker: {{ item.name }}
worker_app: "{{ item.app }}"
worker_name: "{{ item.worker_name }}"

worker_listeners:
  - type: http
    port: {{ item.port }}
    bind_addresses:
      - "{{ workers_ip }}"
      - "127.0.0.1"
    tls: false
    x_forwarded: true
    resources:
      - names:
{% for resource in item.listener_resources %}
          - {{ resource }}
{% endfor %}
        compress: false
  - type: metrics
    port: {{ item.metrics_port }}
    bind_addresses:
      - "127.0.0.1"

worker_log_config: {{ workers_config_dir }}/{{ item.name }}.log.config
