# Managed by Ansible — log config for worker: {{ item.name }}
version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'

handlers:
  file:
    class: logging.handlers.TimedRotatingFileHandler
    formatter: precise
    filename: {{ workers_log_dir }}/{{ item.name }}.log
    when: midnight
    backupCount: 7
    encoding: utf8
    level: INFO

  console:
    class: logging.StreamHandler
    formatter: precise
    level: WARNING

root:
  level: INFO
  handlers: [file, console]

loggers:
  synapse.storage.SQL:
    level: WARNING
  synapse.replication:
    level: INFO
  twisted:
    level: WARNING

disable_existing_loggers: false
